<!-- True containers (keep the content inside containers!) -->
    <div class="container_alpha slider">
        <div>
          <%= image_tag('slides/slide1.jpg') %>
        </div>
    </div>

    <div class="container_omega">
        <div class="gs_3">
            <h3 class="widgettitle">Communities That We Serve</h3>
          <p>
          City of Winchester<br>
          Frederick County, Virginia <span style="float:right;">Stephens City, Middletown</span><br>
          Clarke County, Virginia <span style="float:right;">Berryville</span><br>
          Shenandoah County, Virginia <span style="float:right;">Woodstock, Strasburg</span><br>
          Warren County, Virginia <span style="float:right;">Front Royal</span><br>
          Page County, Virginia <span style="float:right;">Luray</span><br>
          Rappahannock County, Virginia<br>
          </p>
          <p>
          Jefferson County, West Virginia <span style="float:right;">Charles Town</span><br>
          Berkeley County, West Virginia <span style="float:right;">Martinsburg</span><br>
          Morgan County, West Virginia <span style="float:right;">Berkeley Springs</span><br>
          Hampshire County, West Virginia <span style="float:right;">Romney, Augusta</span><br>
          Hardy County, West Virginia <span style="float:right;">Moorefield</span><br>
          </p>
        </div>
        <div class="gs_3 omega">
          <h3 class="widgettitle">Our Primary Areas of Practice</h3>
          <p class="areas_of_practice"><%= link_to "Bankruptcy, Free Initial Consultation", bankruptcy_path %></p>
          <p class="areas_of_practice"><%= link_to "Estate Planning, Wills and Trusts", estate_planning_path %></p>
          <p class="areas_of_practice"><%= link_to "Estate Administration and Probate", estate_planning_path %></p>
          <p class="areas_of_practice"><%= link_to "Real Estate Settlements", real_estate_path %></p>
          <p class="areas_of_practice"><%= link_to "Guardianships", guardianship_path %></p>
        </div>
    </div>
<!-- /True containers (keep the content inside containers!) -->
